body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.page{
  width: 1000px;
  margin: 65px auto 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul{
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

 a{
  color: #1F1534;
  text-decoration: none;
}

ul li a:hover{
  font-weight: bold;
}

h1{
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;
  width: 490px;
  font-weight: normal;
  font-family: 'Mulish', sans-serif;
}

h1 span{
  color: #89C5CC;
  font-weight: bold;
}

p{
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
}

button{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

footer{
  font-size: 14px;
  line-height: 28px;
}

footer a{
  font-weight: bold;
}